.forgot-password-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-placeholder{
  height: 34px;
}
@media (max-width:400px) {
  .arrow-placeholder{
    height: 18px;
  }
}

.forgot-password-text{
  text-align: center;;
  font-size: 12px;
  font-weight: 275;
  margin-bottom: 10px;
}
.otp-input{
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 0.3rem;
    font-size: 2.25rem;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.otp-input:focus{
  outline: 1px solid #ccc;
}
@media (max-width:400px) {
  .otp-input{
    width: 9.5vw;
    height: 9.5vw;
    font-size: 9.5vw;
  }
}
.otp-cancel{
  margin-top: 258px;
}
.new-password-cancel{
  margin-top: 211px;
}

.forgot-password-success{
  margin-top: 132px;
  text-align: center;
  font-size: 12px;
  font-weight: 275;
}

.forgot-password-login{
  margin-top: 177px;
}