.profile-shorts-card{
  display: inline-block;
  background-color: #F8F5F5;
  border: 1px solid #F8F5F5;
  border-radius: 7px;
  width: 149px;
  height: 141px;
  padding: 10px;
  margin: auto;
  position: relative;
  scroll-snap-align: center;
  
}

.profile-shorts-card-img{
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

.profile-shorts-card-top{
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-bottom: 9px;
}

.profile-shorts-card-interact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 22px;
  width: 14px;
  height: 35px;
}

.profile-shorts-card-interact span{
  font-size: 6px;
}
.profile-shorts-card-interact p{
  font-size: 5px;
}

.profile-shorts-card-video{
  width: 26px;
  height: 26px;
  margin: auto;
  margin-bottom: 20px;
}

.profile-shorts-card-category{
  font-size: 6px;
  font-weight: 300;
}


.profile-shorts-card-description{
  font-size: 6px;
  font-weight: 700;
  
}

.profile-shorts-card-user{
  font-size: 6px;
  font-weight: 500;
}

.profile-shorts-edit-btn{
  position: absolute;
  width: 31px;
  height: 10px;
  font-size: 6px;
  font-weight: 500;
  border: none;
  background-color: #ccc;
  border-radius: 22px;
  bottom: 4px;
  right: 5px;
}