.profile-cluster-container{
  width: 311px;
  margin-bottom: 5px;
}

@media (max-width:450px) {
  .profile-cluster-container{
    width: 100%;
  }
}

.profile-cluster-header{
  font-size: 8px;
  font-weight: 700;
  color: black;
}
.profile-cluster-text{
  font-size: 8px;
  font-weight: 275;
  padding-bottom: 16px;
  color: black;
}

.profile-cards-container{
  width: 100%;
  padding-right: 10px;
  display: flex;
  overflow-x: auto;
  gap: 38px;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  padding-bottom: 5px;
  /* margin-bottom:50px; */
}

@media (max-width:320px) {
  .profile-cards-container{
    column-gap: 12px;
    row-gap: 10px;
    padding-bottom: 15px;
  }
}