.profile-cluster-container{
  width: 311px;
  margin-bottom: 5px;
  position: relative;
}

@media (max-width:450px) {
  .profile-cluster-container{
    width: 100%;
  }
}

.profile-cluster-header{
  font-size: 8px;
  font-weight: 700;
  color: black;
}
.profile-cluster-text{
  font-size: 8px;
  font-weight: 275;
  padding-bottom: 16px;
  color: black;
}
.profile-cards-back-arrow{
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: 99;
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  rgb(0 0 0 /25%) 0px 2px 2px 0px;
}
@media (max-width:450px) {
  .profile-cards-back-arrow{
    display: none;
  }
}

.profile-cards-back-arrow span{
  padding-left: 8px;
}

.profile-cards-next-arrow{
  position: absolute;
  top: 50%;
  right: -20px;
  z-index: 99;
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  rgb(0 0 0 /25%) 0px 2px 2px 0px;
}
@media (max-width:450px) {
  .profile-cards-next-arrow{
    display: none;
  }
}

.profile-cards-container{
  width: 100%;
  padding-right: 10px;
  display: flex;
  overflow-x: auto;
  gap: 38px;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.profile-cards-container::-webkit-scrollbar{
  display: none;
}

@media (max-width:320px) {
  .profile-cards-container{
    column-gap: 12px;
    row-gap: 10px;
    padding-bottom: 15px;
  }
}