.search-container{
  display: flex;
  justify-content: center;
  margin: 64px auto; 
}

.searchbar{
  width: 515px;
  height: 62px;
  border-radius: 104px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  padding-left: 36px;
}
.searchbar:focus{
  outline: 3px solid #ccc;
}
.searchbar:focus + .search-icon-btn{
  outline: 3px solid #ccc;
}
.search-icon-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 84px;
  background-color: white;
  border-radius: 104px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ccc;
  border-left: none;
}
.search-icon{
  /* background-color: #D9D9D9; */
  width: 42px;
  height: 42px;
  background-color: #ccc;
  border-radius: 50%;

}