.shorts-view-nav{
  display: flex;
  justify-content: space-between;
  margin: 25px 50px 0;
}


.shorts-view-home-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.shorts-view-home-btn{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid white;
  font-size: 14px;
  font-weight: 700;
  color: white;
}