.shorts-view-video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  height: calc(100vh - 100px);
  margin: auto;
  flex: 1;
}

@media (max-width:450px) {
  .shorts-view-video-container{
    padding: 0;
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
}

.shorts-view-video{
  position: relative;
  width: 437px;
  height:841px;
  border-radius: 16px;
  border: 1px solid #ccc;
  background-color: white;
}
@media (max-height:860px) and (min-width:450px) {
  .shorts-view-video{
    width: 311px;
    height:560px;
  }
}
@media (max-width:450px) {
  .shorts-view-video{
    width: 100vw;
    height:90vh;
    margin-bottom: 5px;
    border-radius: 0;
    flex: 1;
    border: none;
  }
}
/* ================================================================ */
.shorts-view-img{
  width: 33px;
  height: 33px;
  background-color: #ccc;
  border-radius: 50%;
}

.shorts-view-top{
  position: absolute;
  width: 95%;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  top: 21px;
}
.shorts-view-bottom{
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.shorts-view-follow{
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  width: 71px;
  height: 23px;
  padding: 0px 14px;
  border-radius: 100px;
  box-shadow: rgb(0 0 0 /25%) 0px 4px 4px 0px;
  border: none;
  margin-bottom: 10px;
}

.shorts-view-interact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 43px;
  width: 27px;
  height: 82px;
  background-color: white;
}
.shorts-view-interact span{
  font-size: 14px;
}

.shorts-view-interact p{
  font-size: 14px;

}

.shorts-view-video-icon{
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  margin: auto;
}

.shorts-view-category{
  font-size: 12px;
  font-weight: 300;
}

.shorts-view-description{
  font-size: 12px;
  font-weight: 700;
  
}

.shorts-view-user{
  font-size: 12px;
  font-weight: 500;
}